.firstName {
	color: var(--secondaryColor);
}

/* styles/main.module.css */

.main {
	padding: 127px 0 18px 224px;
	display: grid;
	grid-template-columns: 100fr 31fr; /* 835px 258px */
	grid-template-rows: 170px 320px 263px;
	column-gap: 32px;
	row-gap: 30px;
}

.main .title {
	grid-column: 1 / 3;
	grid-row: 1;
}

.main .dailyActivity {
	grid-column: 1;
	grid-row: 2;
}

.main .nrjs {
	grid-column: 2;
	grid-row: 2 / 4;
}
.trainingBoxes {
	height: 263px;
	width: 834px;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

.main .trainingBoxes {
	grid-column: 1;
	grid-row: 3;
}

@media (max-width: 1200px) {
	.main {
		padding: 127px 0 0 0;
		margin-left: calc(117px + ((100vw - 117px) / 2 - (835px / 2)));
		width: 835px;
	}
	.main .nrjs {
		grid-column: 1;
		grid-row: 4;
	}
}
